.img-container
{
  height:100vh;
  background-image:url('Withdrawal_Crew Photo_01.jpg');
  opacity: .8;
}

div .custom-div
{
  max-width: 100%;
  margin:0;
}

div .custom-div:hover
{
  background-color: lightgray;
}

.writer
{
  color: rgb(187, 0, 0);
}

.writer:hover
{
  background-color: lightgray;
  color: rgb(187, 0, 0);
}

.experiences
{
  display: inline-block;
  max-width: 33.33333%;
  color: rgb(187, 0, 0);
}

a:hover
{
  color: rgb(187, 0, 0);
  text-decoration: none;
}

.team-member img
{
  border-image-repeat: repeat;
  width: 275px;
  height: auto;
}